<h1>Todo App</h1>

<div class="card m-4">
  <div class="card-body">
    <div class="row">
      <div class="col-8">
        <input
          type="text"
          class="form-control"
          name="label"
          [(ngModel)]="inputLabel"
        />
      </div>
      <div class="col-4">
        <button class="btn btn-dark" (click)="onAddItem()">Add</button>
      </div>
    </div>
  </div>
</div>

<ul class="list-group">
  <li class="list-group-item" *ngFor="let todo of todoCollection">
    <div class="d-flex justify-content-around">
      <p>{{ todo.label | uppercase }}</p>
      <!-- UPDATE -->
      <button class="btn btn-outline-warning btn-sm" (click)="isEdit = !isEdit">
        🖊
      </button>

      <!-- DELETE -->
      <button
        class="btn btn-outline-danger btn-sm"
        (click)="onDeleteTodo(todo.id)"
      >
        ❌
      </button>
    </div>
    <br />

    <app-edit-todo
      *ngIf="isEdit"
      [todo]="todo"
      (saveTodoEvent)="onSave($event)"
    ></app-edit-todo>
  </li>
</ul>
