<p class="display-4">Product Gallery</p>

<div class="row mb-3">
  <div class="col-4" *ngFor="let product of productCollection">
    <div class="card product-header" (click)="onProductSelected(product)">
      <div class="card-header">
        <h6 class="text-center">{{ product.name | uppercase }}</h6>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
