<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" [ngClass]="{ active: tab === 1 }" (click)="tab = 1"
      >Show Comments</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" [ngClass]="{ active: tab === 2 }" (click)="tab = 2"
      >Add Comment</a
    >
  </li>
</ul>

<br />

<div [ngSwitch]="tab">
  <div *ngSwitchCase="1">
    <ng-container *ngIf="comments.length > 0; else theElseTemplate">
      <!-- Create new component to show all comments -->
      <blockquote *ngFor="let comment of comments" class="mb-2 shadow-sm p-2">
        <strong>Stars : {{ comment.stars }} </strong>
        {{ comment.body }}
        <cite>-{{ comment.author }}</cite>
      </blockquote>
    </ng-container>
    <ng-template #theElseTemplate
      ><p>Be the first to comment...</p></ng-template
    >
  </div>
  <div *ngSwitchCase="2">
    <app-comment-form
      (addCommentEvent)="onAddComment($event)"
    ></app-comment-form>
  </div>
</div>
