<nav>
  <div class="row">
    <div class="col-10">
      <ul class="nav nav-tabs">
        <li class="nav-item" *ngIf="!authService.isUserAuthenticated()">
          <a [routerLink]="['auth']" class="nav-link">Login/Register</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['users']" class="nav-link">Users</a>
        </li>
        <li class="nav-item" *ngIf="authService.isUserAuthenticated()">
          <a [routerLink]="['todos']" class="nav-link">Todos</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['pipe-demo']" class="nav-link">Pipe</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['observable-demo']" class="nav-link">Observable</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['products']" class="nav-link">Products</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['lazy']" class="nav-link">Lazy</a>
        </li>
      </ul>
    </div>
    <div class="col-2">
      <div class="d-grid" *ngIf="authService.isUserAuthenticated()">
        <button class="btn btn-outline-danger btn-sm" (click)="onUserLogout()">
          Logout
        </button>
      </div>
    </div>
  </div>
</nav>
