<h1>Observable Demo Component</h1>

<button class="btn btn-primary" (click)="onSubscribe()">Subscribe</button>
<button class="btn btn-dark" (click)="onUnsubscribe()">Unsubscribe</button>

<button class="btn btn-secondary" #theButton>Obs Button</button>
<button class="btn btn-warning" (click)="onSubjectNext()">Subject:Next</button>

<hr />
<br />
<!-- <input type="text" #search />
<br />

<ul>
  <li *ngFor="let repo of repos">
    {{ repo }}
  </li>
</ul> -->
