<div class="backdrop">
  <div class="dialog-box">
    <div class="card">
      <div class="card-header">
        <ng-content select=".title"></ng-content>
      </div>
      <div class="card-body">
        <ng-content select=".message"></ng-content>

        <div class="d-flex justify-content-end">
          <button class="btn btn-dark" (click)="onBtnClick()">
            <ng-content select=".btn-text"></ng-content>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
