.backdrop {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 50%;
}

.dialog-box {
  position: fixed;
  background-color: #fff;
  width: 40vw;
  height: 30vh;
  left: 30vw;
  top: 20vh;
  z-index: 70%;
}
