<div class="row">
  <div class="col-6 offset-3">
    <div class="card">
      <div class="card-body">
        <h4 class="text-center">Registration Form</h4>
        <form [formGroup]="authForm">
          <!-- username -->
          <div class="form-group mb-3">
            <label for="username">Username :</label>
            <input
              type="text"
              name="username"
              class="form-control"
              [formControl]="username"
            />

            <!-- Error Message -->
            <div *ngIf="username.touched && username.invalid">
              <div *ngIf="username.hasError('required')">
                <p class="alert alert-danger">- Username is mandatory field</p>
              </div>
              <div *ngIf="username.hasError('email')">
                <p class="alert alert-danger">
                  - Username field should contain proper email address
                </p>
              </div>
            </div>
          </div>
          <!-- password -->
          <div class="form-group mb-3">
            <label for="password">Password :</label>
            <input
              type="password"
              name="password"
              class="form-control"
              [formControl]="password"
            />
            <div *ngIf="password.touched && password.invalid">
              <div *ngIf="password.hasError('required')">
                <p class="alert alert-danger">- Password is mandatory field</p>
              </div>
              <div *ngIf="password.hasError('minlength')">
                <p class="alert alert-danger">
                  Password filed should have at least 6 characters
                </p>
              </div>
              <div *ngIf="password.hasError('exclamation')">
                <p class="alert alert-danger">
                  - Password must contain exclamation mark (!)
                </p>
              </div>
            </div>
          </div>
          <!-- Hobbies -->
          <div class="form-group mb-3">
            <button class="btn btn-dark" (click)="onAddNewHobby()">
              Add Hobby
            </button>

            <div formArrayName="hobbies">
              <div *ngFor="let hobby of hobbies.controls; index as i">
                <div [formGroupName]="i">
                  <div class="row">
                    <div class="col-6">
                      <input
                        type="text"
                        name="hobby-name"
                        class="form-control"
                        formControlName="name"
                        placeholder="hobby name"
                      />
                    </div>
                    <div class="col-6">
                      <input
                        type="text"
                        name="hobby-frequency"
                        class="form-control"
                        formControlName="frequency"
                        placeholder="frequency"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- buttons -->
          <div class="form-group">
            <div class="row">
              <div class="col-6">
                <div class="d-grid">
                  <button
                    class="btn btn-primary"
                    (click)="onRegister()"
                    [disabled]="!authForm.valid"
                  >
                    Register
                  </button>
                </div>
              </div>
              <div class="col-6">
                <div class="d-grid">
                  <button class="btn btn-warning" (click)="onUserLogin()">
                    Login
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
