.ng-invalid.ng-dirty[name="username"] {
  background-color: rgb(205, 115, 115);
}
.ng-valid.ng-dirty[name="username"] {
  background-color: rgb(97, 170, 97);
}
.ng-invalid.ng-dirty[name="password"] {
  background-color: rgb(205, 115, 115);
}
.ng-valid.ng-dirty[name="password"] {
  background-color: rgb(97, 170, 97);
}
