<h1>Pipe Demo Component</h1>

<h6>Contact Number : {{ contactNumber | countryCode }}</h6>

<!-- Add New Todo -->
<div class="row mb-3">
  <div class="col-8">
    <input type="text" class="form-control" [(ngModel)]="inputLabel" />
  </div>
  <div class="col-4">
    <div class="d-grid">
      <button class="btn btn-success" (click)="onAddNewItem()">Add</button>
    </div>
  </div>
</div>

<div class="row mb-3">
  <!-- Filtering -->
  <div class="col-6">
    <select class="form-control" [(ngModel)]="filteredStatus">
      <option value="pending">Pending Task</option>
      <option value="completed">Completed Task</option>
    </select>
  </div>
  <!-- sort -->
  <div class="col-6">
    <div class="d-grid">
      <button class="btn btn-primary" (click)="isAscending = !isAscending">
        Sort {{ isAscending ? "Decending" : "Ascending" }}
      </button>
    </div>
  </div>
</div>

<ul class="list-group">
  <li
    *ngFor="
      let todo of todoCollection | filter : filteredStatus | sort : isAscending
    "
    class="mb-2 list-group-item"
  >
    <p>
      {{ todo.label | uppercase }}
      <span>{{ todo.status }}</span>
    </p>
  </li>
</ul>

<hr />

<h6>The Value : {{ value | currency : "INR" }}</h6>

<h6>Joining Date : {{ joiningDate | date : "MMM dd, yyyy" }}</h6>

<h6>String : {{ strValue | titlecase }}</h6>

<h6>Object : {{ objOne | json }}</h6>

<h6>Percent : {{ value | percent }}</h6>

<h6>Number : {{ value | number }}</h6>

<h6>Promise : {{ promiseObj | async }}</h6>

<h6>PI : {{ pi | number : "1.2-4" }}</h6>

<hr />

<!-- ng g p pipes/sort -->
