<ng-content></ng-content>

<p>
  Total Votes : <span [innerText]="user.totVotes"></span>
  <input type="number" [(ngModel)]="user.totVotes" class="m-2" />
</p>

<!-- <ng-content select=".user-income"></ng-content>-->

<ng-content select=".user-dob"></ng-content>
