<!-- <div class="card" *ngIf="product; else productLoadingTemplate"> -->
<div class="card">
  <div class="card-header">
    <h6 class="text-center">{{ product.name | uppercase }}</h6>
  </div>
  <div class="card-body">
    <p>Company : {{ product.company }}</p>
    <p>Price : {{ productPrice }}</p>
  </div>
</div>

<!-- <ng-template #productLoadingTemplate>
  <p>Loading....</p>
</ng-template> -->
