<div class="container">
  <header class="mb-4">
    <app-header></app-header>
  </header>
  <main>
    <app-new-employee></app-new-employee>
    <router-outlet></router-outlet>
  </main>
</div>

<!-- <app-users></app-users> -->
<!-- <app-auth-form></app-auth-form> -->

<!-- <app-todo *ngIf="authService.isUserAuthenticated()"></app-todo> -->

<!-- <app-observable-demo></app-observable-demo> -->

<!-- <app-pipe-demo></app-pipe-demo> -->

<!-- <app-directive-demo></app-directive-demo> -->

<!-- <input type="text" [(ngModel)]="title" />

  <app-life-cycle-demo [title]="title" *ngIf="showDialog">
    <header><h2 #theHeadingVar>The Heading</h2></header>
  </app-life-cycle-demo>
-->
<!-- <button class="btn btn-primary" (click)="showDialog = !showDialog">
    Dialog
  </button>

  <app-dialog-box (closeEvent)="onClose()" *ngIf="showDialog">
    <h1 class="title">Error</h1>
    <p class="message">Something went wrong!!</p>
    <span class="btn-text">Close</span>
  </app-dialog-box> -->
