<h1 appHighlight favColor="yellow">The Custom Directive Demo</h1>

<br />

<!-- <h2 [ngClass]="['my-border', 'my-feature']">The Directive Demo Component</h2> -->
<h2 [ngClass]="dynamicClasses" (mouseenter)="onToggle()">
  The Directive Demo Component
</h2>

<p
  [ngStyle]="dynamicStyles"
  (mouseenter)="changeTheme()"
  (mouseleave)="revertTheme()"
>
  Some cool content here...
</p>

<button (click)="toggleShow = !toggleShow">Toggle Paragraph</button>

<p *ngIf="toggleShow; else theElseTemplate">
  This paragraph will be toggled....
</p>

<ng-template #theElseTemplate> Click the button to see the magic </ng-template>

<hr />

<div [ngSwitch]="tab">
  <div *ngSwitchCase="1">Output 1</div>
  <div *ngSwitchCase="2">Output 2</div>
  <div *ngSwitchCase="3">Output 3</div>
  <div *ngSwitchCase="4">Output 4</div>
  <div *ngSwitchDefault>Default Output</div>
</div>

<hr />

<ul>
  <li *ngFor="let todo of todoCollection">
    {{ todo.label }} - {{ todo.status }}
  </li>
</ul>

<table class="table table-stripped">
  <thead>
    <tr>
      <th>#</th>
      <th>Label</th>
      <th>Status</th>
      <th>Is this first element?</th>
      <th>Is this last element?</th>
      <th>Is this even element?</th>
      <th>Is this odd element?</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let todo of todoCollection;
        index as i;
        first as isFirst;
        last as isLast;
        even as isEven;
        odd as isOdd
      "
      [ngClass]="{ 'my-border': isEven }"
    >
      <!-- <ng-container [ngClass]="{ 'my-border': isEven }"> -->
      <td>{{ i + 1 }}</td>
      <td>{{ todo.label }}</td>
      <td>{{ todo.status }}</td>
      <td>{{ isFirst }}</td>
      <td>{{ isLast }}</td>
      <td>{{ isEven }}</td>
      <td>{{ isOdd }}</td>
      <!-- </ng-container> -->
    </tr>
  </tbody>
</table>
