<img [src]="user.imagePath" alt="" class="img-fluid rounded-circle" />
<div class="row m-3">
  <div class="col-10 offset-1">
    <div class="d-grid">
      <button (click)="onBtnClick()" class="btn btn-info">More Info</button>
    </div>
  </div>
</div>
