<div class="row">
  <div class="col-8 offset-2">
    <div class="card">
      <div class="card-header">
        <h6 class="text-center">Add Your Comments Here</h6>
      </div>
      <div class="card-body">
        <form #theForm="ngForm" (submit)="onAddItem(theForm)">
          <!-- stars -->
          <div class="form-group mb-3">
            <label for="stars">Stars :</label>
            <select class="form-control" name="stars" ngModel>
              <option value="">Select Here</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
          <!-- body -->
          <div class="form-group mb-3">
            <textarea
              name="body"
              cols="30"
              rows="5"
              class="form-control"
              ngModel
              minlength="8"
              required
              #theBody="ngModel"
            ></textarea>

            <!-- Error Message -->
            <!-- {{ theBody.errors | json}} -->
            <div *ngIf="theBody.errors && theBody.touched" class="mb-3">
              <div *ngIf="theBody.errors['required']">
                <p class="alert alert-danger">- Body is mandatory field</p>
              </div>
              <div *ngIf="theBody.errors['minlength']">
                <p class="alert alert-danger">
                  - Body must have at least 8 character
                </p>
              </div>
            </div>
          </div>
          <!-- author -->
          <div class="form-group mb-3">
            <label for="author">Email :</label>
            <input
              type="email"
              name="author"
              class="form-control"
              ngModel
              email
              required
            />
          </div>
          <!-- buttons -->
          <div class="form-group">
            <div class="row">
              <div class="col-6">
                <div class="d-grid">
                  <button
                    class="btn btn-success"
                    type="submit"
                    [disabled]="!theForm.valid"
                  >
                    Add
                  </button>
                </div>
              </div>
              <div class="col-6">
                <div class="d-grid">
                  <button class="btn btn-warning">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
