.ng-dirty.ng-invalid[name="body"] {
  border-bottom: 4px rgb(172, 28, 28) solid;
}
.ng-dirty.ng-valid[name="body"] {
  border-bottom: 4px rgb(15, 137, 15) solid;
}
.ng-dirty.ng-invalid[name="author"] {
  border-bottom: 4px rgb(172, 28, 28) solid;
}
.ng-dirty.ng-valid[name="author"] {
  border-bottom: 4px rgb(15, 137, 15) solid;
}
