<ul class="list-group">
  <li class="list-group-item mb-3" *ngFor="let user of users">
    <div class="row mb-3">
      <div class="col-4">
        <app-user-img
          [user]="user"
          (childEvent)="onMoreInfo($event)"
        ></app-user-img>
      </div>
      <div class="col-8">
        <app-user-info [user]="user">
          <h2>
            {{ user.firstName | titlecase }} {{ user.lastName | titlecase }}
          </h2>
          <p>Some more info</p>

          <p class="user-income" *ngIf="user.isWorking; else theElseTemplate">
            Income : <span [innerText]="user.income | currency"></span>
          </p>
          <p class="user-dob">
            Date of Birth :
            <span [innerText]="user.dob | date : 'MMM dd,yyyy'"></span>
          </p>
        </app-user-info>
      </div>
    </div>

    <ng-template #theElseTemplate
      >Mr. {{ user.lastName }} is NOT working now!!</ng-template
    >

    <div class="row">
      <div class="col-12">
        <app-user-comments [comments]="user.comments"></app-user-comments>
      </div>
    </div>
  </li>
</ul>
